/*여기어때잘난체*/
@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}



@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'RixInooAriDuriR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/RixInooAriDuriR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {

    text-decoration: none;
    color: #27358A;
    cursor: url(../images/cur-37.png), auto;
}



body {
    font-family: 'LINESeedKR-Bd';
    font-size: 14px;
    line-height: 24px;
    color: #27358A;
    min-width: 1320px;

    cursor: url(../images/cur-36.png), auto;

}

#con {
    background-color: #fff6f9;
}

.po {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

header {
    width: 1320px;
    margin: 10px auto;
    height: 30px;
    position: relative;
    z-index: 100;
}

#header {

    float: right;

}

#header li {
    float: left;

}

#header a {
    font-size: 15px;
    font-family: 'Fredoka One', cursive;
}

#header a:hover {
    color: #dfb0c6;
}

#nav {
    width: 1320px;
    margin: 0 auto;
    height: 130px;
}
.nav li:nth-child(3):hover img {
    transform: rotateY(360deg);
}

.nav li:nth-child(3) img {
    transition: all 1s;
}

.nav {
    line-height: 103px;
    overflow: hidden;
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
}

             
.nav>li>a {
    font-size: 30px;
    display: block;
    font-family: 'Fredoka One', cursive;
    color: #fff;
    text-shadow:
        -2px 0 0 #27358A,
        2px 0 0 #27358A,
        0 -2px 0 #27358A,
        0 2px 0 #27358A;
    position: relative;
    z-index: 100;
}



.nav a:hover {
    color: #27358A;
    text-shadow:
        -2px 0 0 #fff,
        2px 0 0 #fff,
        0 -2px 0 #fff,
        0 2px 0 #fff;

}

.sub {
min-width: 1320px;
    background: url(../images/sub.png) no-repeat top center;
    font-family: 'yg-jalnan';
    left: 0;
    top: 0;
    z-index: 99;
    position: absolute;
    height: 591px;
    display: none;
    width: 100%;


}

.sub div {
    width: 1320px;
    margin: 130px auto 0;
    display: -moz-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
}

.sub div ul:nth-child(1) {
    width: 109.3px;

}

.sub div ul:nth-child(2) {
    width: 88.64px;
}

.sub div ul:nth-child(3) {
    width: 174px;
    height: 300px;
}

.sub div ul:nth-child(4) {
    width: 107.45px;

}

.sub div ul:nth-child(5) {
    width: 110.31px;
 
}

.sub ul {
    line-height: 80px;
    text-align: center;

}
.sub div a {
    font-size: 20px;
    text-align: center;
    color: #fff;
    text-shadow:
        -2px 0 0 #27358A,
        2px 0 0 #27358A,
        0 -2px 0 #27358A,
        0 2px 0 #27358A;

}

/*sub끝*/

/* 탑 버튼 */
.top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
    z-index: 100;
}

#main {
    width: 100%;
    margin: 0 auto;
    background-size: cover;
    position: relative;
  
}


#con {
    background-color: #fff6f9;
    padding-top: 250px;
    overflow: hidden;
}

.season {


    width: 1320px;
    margin: 0 auto;
    height: 1300px;
   
    position: relative;
}

.season h1 {
 overflow: hidden;
    text-align: right;
    padding-top: 80px;



}

.season ul {
    position: absolute;
    left: 50%;
    top: 0;
    margin-top: 350px;
    margin-left: -451px;


}

.season li {
    float: left;
    padding: 0 50px;
    position: relative;
}

/*시즌도넛 봄*/
.spring {
    position: absolute;
    background-color: #671033be;
    text-align: center;
    top: 0;
    left: 11%;
    width: 351px;
    height: 500px;
    border-radius: 175px 175px 0 0;
    box-sizing: border-box;
    opacity: 0;
}

.s_1 {
    opacity: 0;
}

.spring img {
    position: absolute;
    top: 40%;
    left: 50%;
    margin-left: -111.5px;

}


.s_1 .left {

    position: absolute;
    z-index: 99;
    bottom: -50px;
    left: -130px;

}

.s_1 .right {

    position: absolute;
    z-index: 99;
    bottom: -50px;
    right: 0;

}

.spring h2 {
    font-size: 40px;
    color: #fff4cf;
    padding-top: 100px;
    font-family: 'PyeongChangPeace-Bold';
}

.spring p {
    color: #fff;
    font-size: 16px;
    padding-top: 20px;
}

.season li:nth-child(1):hover .s_1,
.spring {
    opacity: 1;

}

/*시즌도넛 봄 끝*/

@keyframes float21 {
    0% {
        transform: rotate(-5deg)
    }

    50% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(-5deg)
    }

}

.left {
    animation: float21 3s infinite;
}

@keyframes float22 {
    0% {
        transform: rotate(5deg)
    }

    50% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(5deg)
    }

}

.right {
    animation: float21 2s infinite;
}

/*시즌도넛 여름*/
.center {
    padding-left: 5px;
}

.summer {
    position: absolute;
    background-color: #294567be;
    text-align: center;
    top: 0;
    right: 11%;
    width: 351px;
    height: 500px;
    border-radius: 175px 175px 0 0;
    box-sizing: border-box;
    opacity: 0;
}

.s_2 {
    opacity: 0;
}

.summer img {
    position: absolute;
    top: 40%;
    left: 50%;
    margin-left: -111.5px;

}


.s_2 .left {

    position: absolute;
    z-index: 99;
    bottom: -20px;
    left: -50px;

}

.s_2 .right {

    position: absolute;
    z-index: 99;
    bottom: -40px;
    right: -10px;

}

.summer h2 {
    font-size: 40px;
    color: #ffd0e3;
    font-weight: 100;
    padding-top: 100px;
    font-family: 'RixInooAriDuriR';
}

.summer p {
    color: #fff;
    font-size: 16px;
    padding-top: 20px;
}

.season li:nth-child(2):hover .s_2,
.summer {
    opacity: 1;

}

/* 시즌도넛 여름 끝 */

/* 도넛 */
.con2 {
    width: 1320px;
    margin: 180px auto;
    height: 1100px;
    position: relative;
    padding-top: 110px;
}

.con2 h1 {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 20px;

}

.plate {
    background: url(../images/menu_plate.png) no-repeat center;
    height: 779px;

    position: relative;
}

.donut {
    z-index: 99;
    transition: all 0.2s;
    overflow: hidden;

}

.donut a {
    transition: all 0.2s;
}

.donut a:hover {
    transform: scale(1.2);


}


.donut a:nth-child(1) {
    position: absolute;
    top: 0;
    left: 50%;
    margin-top: 90px;
    margin-left: 80px;
}

.donut a:nth-child(2) {
    position: absolute;
    top: 0;
    left: 50%;
    margin-top: 200px;
    margin-left: 180px;
}

.donut a:nth-child(3) {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -57.5px;
    margin-right: 320px;
}

.donut a:nth-child(4) {
    position: absolute;
    bottom: 0;
    right: 50%;
    margin-bottom: 190px;
    margin-right: -300px;
}

.donut a:nth-child(5) {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-bottom: 90px;
    margin-left: 80px;
}

.donut a:nth-child(6) {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-bottom: 50px;
    margin-left: -55px;
}

.donut a:nth-child(7) {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-bottom: 80px;
    margin-left: -190px;
}

.donut a:nth-child(8) {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-bottom: 190px;
    margin-left: -290px;
}



.donut a:nth-child(9) {
    position: absolute;
    bottom: 50%;
    left: 0;
    margin-bottom: -62.5px;
    margin-left: 320px;

}


.donut a:nth-child(10) {
    position: absolute;
    top: 0;
    left: 50%;
    margin-top: 190px;
    margin-left: -290px;
}

.donut a:nth-child(11) {
    position: absolute;
    top: 0;
    left: 50%;
    margin-top: 80px;
    margin-left: -210px;
}

.donut a:nth-child(12) {
    position: absolute;
    top: 0;
    left: 50%;
    margin-top: 45px;
    margin-left: -58.5px;

}


.spoon img:nth-child(1) {
    position: absolute;
    bottom: 0;
    left: 0;
    animation: float21 3s infinite;
}

@keyframes float21 {
    0% {
        transform: rotate(-10deg)
    }

    50% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(-10deg)
    }

}

.spoon img:nth-child(2) {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 40px;
    animation: float22 2s infinite;
}

@keyframes float22 {
    0% {
        transform: rotate(10deg)
    }

    50% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(10deg)
    }

}

/* 도넛 끝 */
/* 드링크 */
.con3 {
    width: 1320px;
    margin: 200px auto;
    height: 800px;
    /* padding-bottom: 200px; */
    
    padding-top: 150px;
}

.drink {
    width: 1254px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.con3 h1 {
    text-align: right;
}

.drink0 ul {
    text-align: center;
}

.drink0 li {
    float: left;
    margin-right: 50px;
    position: relative;
}

.drink0 li:nth-child(5) {
    margin-right: 0;
}

.drink0 li img:nth-child(2) {
    position: absolute;
    bottom: 42px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.2s;
}

.drink0 .box {
    background-color: #140a2594;
    margin-right: 50px;
    position: absolute;
    width: 211px;
    height: 385px;
    top: 0;
    left: 0;
    border-radius: 105px;
    opacity: 0;
    transition: all 0.4s;
    text-align: center;
    padding-top: 45%;
    box-sizing: border-box;
}

.drink0 li:hover .box {
    opacity: 1;

}

.drink0 li:hover img:nth-child(2) {
    transform: translateX(-50%) scale(1.1, 1.1);
}




.drink1 li:nth-child(4) {
    padding-left: 10px;


}

.drink1 li:nth-child(5) {
    padding-right: 0;
    padding-left: 19px;


}


.drink1 li {
    float: left;
    padding-right: 126px;

}




.box_t {
    color: #fffbef;
    padding-top: 50px;

}

.box_t h5 {
    color: #fff;
    margin-bottom: 10px;
}


/* 드링크 끝 */

/* footr */

/*footer 웨이브*/
@keyframes wave1 {
    0% {
        transform: translate(0);
    }

    100% {
        transform: translate(-500px);
    }
}

@keyframes wave2 {
    0% {
        transform: translate(0);
    }

    100% {
        transform: translate(-500px);
    }
}

.wa {
    animation: wave1 3s linear infinite alternate;
}

.wb {
    animation: wave2 5s linear infinite alternate;
}




/*footer wave 끝*/
footer {
    padding-top: 300px;
    position: relative;
    background-color: #fff6f9;
    height: 500px;
    overflow: hidden;

}

footer svg {
    position: absolute;
    bottom: 0;
    width: 150%;
}

#footer {
    width: 1320px;
    margin: 0 auto;
    position: relative;
    height: 450px;
}

.ani {
    position: absolute;
}

.footer_right {
    position: absolute;
    height: 240px;
    left: 53%;
    text-align: right;

}

.sns {
    position: absolute;
    right: 0;
    bottom: 0;

}

.sns li {
    float: left;
    padding-left: 10px;
    position: relative;
}


.sns a {
    text-align: right;
}

.sns li img:nth-child(2) {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
}

.sns li:hover .hover {
    opacity: 1;
}

.sns li:hover img:nth-child(1) {
    opacity: 0;
}